body {
    background-color: #121a12;
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Press Start 2P";
    min-height: 0; 
    height:0px;
    cursor: url('../img/resized/skullcursor\ 3.png'), auto;
}

@import
url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');




header {
    text-align: center;
    background-color: #171F17;
    background-image: url(..//img/resized/background5-01.png);
    margin: 0;
    padding: 50px 0; /* Padding controls the height of the header */
    position: relative;
    cursor: url('../img/resized/skullcursor\ 3.png'), auto;
}

section img {
    display: block; 
    margin: 0 auto; 
    border: 30px solid rgb(1, 20, 7); 
    cursor: url('../img/resized/skullcursor\ 3.png'), auto;
}

section video {
    display: block; 
    margin: 0 auto; 
    border: 30px solid rgb(1, 20, 7); 
    cursor: url('../img/resized/skullcursor\ 3.png'), auto;
}

nav {
    display: flex;
    justify-content: space-around;  /* this aligns items horizontally with even spacing */
    align-items: center;  /* this will vertically center my items */
    background-color: #171F17;
    width: 100%;
    padding: 2%;
    top: 0;  /* this will position at the top of the page */
    left: 0;
    z-index: 1000;  /* and the zindex insures items stay above other content */ 
    cursor: url('../img/resized/skullcursor\ 3.png'), auto;

}

p{
    text-align: center;
    color:rgb(157, 204, 157);
    font-family:"Press Start 2P";
    background-color: rgb(1, 20, 7);
    padding: 20px;
    cursor: url('../img/resized/skullcursor\ 3.png'), auto;
}


h1{
    padding:0;
    color:greenyellow;
    stroke: black;
    stroke-width: 6px;
    text-align: left;
    cursor: url('../img/resized/skullcursor\ 3.png'), auto;
}
h2{
    text-align:center;
    cursor: url('../img/resized/skullcursor\ 3.png'), auto;
}

main{
    max-width:65%;
    margin-left: 20%;
    background-color:#171F17;
    background-image: url(..//img/resized/background5-01.png);
    border: 30px solid rgb(1, 20, 7); 
    cursor: url('../img/resized/skullcursor\ 3.png'), auto;

}

footer h2{ 
    background-color:#171F17;

    text-align: right;
    width:15%;
    margin-left: 82%;
    padding:1%;
    cursor: url('../img/resized/skullcursor\ 3.png'), auto;

}

/*for my links*/
a{
    text-decoration: none;
    color: greenyellow;
}

/*image container will help manage logo position and display*/
.image-container {
    position: relative;
    display: inline-block;
}

.normal-image,
.hover-image {
    top: 0;
    left: 0;
}



.hover-image {
    display: none; /* this hides the hover image by default */
}

.image-container:hover .normal-image {
    display: none; /* this hides normal image on hover */
}

.image-container:hover .hover-image {
    display: block; /* this will show the hover image on hover */
}


.image-container:hover{
    transform: scale(1.2);
}

.skull {
    position:relative;
    top: 0; /* Start from top of the footer */
    left: -300px; /* Start off-screen */
    animation-name: drift;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/*this key frame will be for drifting forward*/
@keyframes drift{
    from{
        left:-1900px;
        opacity: 50%;
    }
    to{
        opacity: 5%;
        left:2000px;


    }



}
/*this key frame will be for drifting in reverse (top skulls)*/
@keyframes driftReverse {
    from {
        left: 2000px; /* this will start the pngs off-screen to the right */
        opacity: 50%;
    }
    to {
        opacity: 5%;
        left: -1900px; /*and this will move them to off-screen on the left */
    }
}

.skulltop {
    position: relative;
    top: 0;
    left: 2000px; 
    animation-name: driftReverse;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
    







